<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A new quote has been made</h1>
    <p>
      A new quote has been submitted by: <%= @quote.email %><br/>
    </p>

    <p>
      The items requested are:
      <% @quote.item_ids.each do |f| %>
        <p><%= Item.find_by_id(f).name %></p>
      <% end %>
    </p>

    <p>
      @sum = 0
      Total cost of quote:
      <%= @quote.item_ids.each { |a| @sum+=a.to_i } %>
    </p>
    
    <p>
      To visit the app, just follow this link: <%= @url %>.
    </p>
    <p>
      Please respond to <%= @quote.email %> as soon as possible.
    </p>
  </body>
</html>